SECRET_KEY_BASE=local_development_secret_key_base_quoteMe

#DB
DB_HOST=database
DB_NAME=Walltaker
DB_PORT=5432
DB_HOST_PORT=5432
DB_USER=postgres
DB_PASSWORD=secretPassword

#Rails
RAILS_HOST_PORT=3000
RAILS_ENV=production

#Cache
CACHE_PORT=6379
CACHE_HOST=redis
CACHE_HOST_PORT=6379

#Walltaker
WALLTAKER_HOST=some.Url.net
WALLTAKER_URL=https://some.Url.net

COMMIT_LINK=https://github.com/Lycraon/walltaker/commit/main

#E621_USER=<your username>
PORNBOT_INTERVAL_SECONDS=600

#WALLTAKER MAIL FROM
RESEND_API_KEY=re_example_key
RESEND_SMTP_ADDRESS=smtp.resend.com
RESEND_SMTP_PORT=587
RESEND_SMTP_USER_NAME=resend
RESEND_SMTP_AUTHENTICATION=plain
RESEND_SMTP_ENABLE_STARTTLS_AUTO=true
WALLTAKER_MAIL_FROM=noreply@example.com
